@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format(woff);
  src: url("../fonts/gilroyextrabold.woff2") format(woff2);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff") format(woff);
  src: url("../fonts/gilroylight.woff2") format(woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format(woff);
  src: url("../fonts/opensans.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format(woff);
  src: url("../fonts/opensanslight.woff2") format(woff2);
  font-weight: 300;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1160px;
  padding: 0 20px;
}

.main-header {
  /* min-height: 320px; */
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.header-wrapper {
  background-color: #f7e296;
  position: relative;
  padding: 0 60px;
  padding-top: 50px;
}

.header-middle-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-middle-wrapper p {
  margin: 0;
  padding: 0;
}

.main-header-logo {
  width: 163px;
  height: 35px;
  position: absolute;
  left: 60px;
  top: -19px;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  fill-opacity: 0.6;
}

.main-header-logo[href]:active {
  fill-opacity: 0.3;
}

.search input {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}

.search input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search input:focus {
  border-bottom: 2px solid #000000;
}

.search button {
  font: inherit;
  background: inherit;
  border: 2px solid #000000;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}

.search button:hover,
.search button:focus {
  background-color: #000000;
  color: #ffffff;
}

.search button:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.login-link a:hover,
.logout-link a:hover,
.profile-link a:hover,
.compare-button:hover,
.cart-button:hover,
.login-link a:focus,
.logout-link a:focus,
.profile-link a:focus,
.compare-button:focus,
.cart-button:focus {
  color: rgba(0, 0, 0, 0.6);
}

.login-link a:active,
.logout-link a:active,
.profile-link a:active,
.compare-button:active,
.cart-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 800;
}

.site-nav {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans" , Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
}

.site-nav a:hover,
.sub-menu a:hover,
.site-nav a:focus,
.sub-menu a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-nav a:active,
.sub-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider {
  display: none;
}

.slider dl {
  margin: 0;
  padding: 0;
}

.slider dt {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.slider dd {
  margin: 0;
  padding: 0;
}

.slide-item {
  background-image: linear-gradient(#f7e296 20%, #fff 20%);
}

.slide-number {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 179.2px;
  line-height: 179.2px;
  font-weight: 800;
  color: #fff; 
}

.slider th{
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.slider td {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.categories {
  display: none;
}

.categories-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-list h3 {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.category a{
  background-color: rgba(240, 197, 46, 0.5);
}

.category a:hover,
.category a:focus {
  background-color:  rgb(240, 197, 46);
}

.category a:active img {
  opacity: 0.3;
}

.services {
  display: none;
}

.services-slider .button {
  background-color: transparent;
}

.services-slider .button:active {
  color: #f7e184;
  background-color: #000000;
  width: 278px;
}

.services-slide {
  background-image: linear-gradient(#ffffff 20%, #e5e5e5 20%);

}

.services-slide h3 {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.brands {
  display: none;
}

.brand-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.brand-list a {
  opacity: 0.2;
  filter: grayscale(100%);
}

.brand-list a:hover {
  opacity: 1;
  filter: none;
}

.columns-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0;
}

.about {
  /* min-height: 575px; */
  width: 480px; 
}

.contacts {
  /* min-height: 575px; */
  width: 560px;
}

.about h2,
.contacts h2 {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.delivery-list {
  list-style-type: circle;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.button {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
  border: none;
  letter-spacing: 5px;
  background-image: linear-gradient(transparent 30%, #f0c52e 30%, #f0c52e 70%, transparent 60%);
}

button[type="submit"] {
  background-color: transparent;
}

.button:hover, 
.button:focus {
  background-image: none;
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-title {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-current,
.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filters {
  background-color: #efefef;
  color: #000000;
  /* min-height: 1286px; */
  width: 300px;
}

.filters h2 {
  background-color: #dcdcdc;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
}

.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 40px;

}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.25);
}

.catalog {
  /* min-height: 1286px; */
  width: 760px;
}

.sort {
  display: none;
}

.sort h3 {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 4px;
  color: #000000;
  text-transform: uppercase; 
}

.sort ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort a {
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.sort a:focus,
.sort a:hover {
  opacity: 0.6;
}

.sort a:active {
  opacity: 1;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial Black", sans-serif;
  line-height: 24px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.catalog-list h3 {
  font-size: 16px;
  font-weight: 800; 
}

.catalog-item {
  /* min-height: 435px; */
  width: 360px;
  margin-bottom: 45px;
}

.catalog-item-image {
  position: relative;
}

.catalog-item-hover {
  position: absolute;
  display: none;
  width: 360px;
  height: 380px;
  text-align: center;
  background-color: rgba(220, 220, 220, 0.7);
}

.catalog-item-hover .compare-button {
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item-hover .compare-button:hover {
  color: rgba(0, 0, 0);
}

.catalog-item-hover .compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item-image:hover .catalog-item-hover {
  display: block;
  cursor: pointer;
}

.catalog-item-price {
  font-size: 14px;
  font-weight: 300;
  color: #464646;
}

.pagination {
  display: none;
  background-color: #ebebeb;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000; 
}

.pagination-btn {
  margin: 0;
  padding: 0;
  font: inherit;
  text-transform: uppercase;
  letter-spacing: 4px;
  background: transparent;
  border: none;
}

.pagination-btn:focus,
.pagination-btn:hover {
  background-color: #d9d9d9;
}

.pagination-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item a{
  opacity: 0.3;
}

.pagination-item a[href]:focus,
.pagination-item a[href]:hover {
  opacity: 0.6;
}

.pagination-item a[href]:active {
  opacity: 1;
}

.pagination-item-current a{
  opacity: 1;
}

.main-footer {
  color: #fff;
  background-color: #464646;
  /* min-height: 320px; */
  min-width: 1200px;
  padding-top: 60px;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
}

.footer-top {
  /* min-height: 35px; */
  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top-right-side-wrapper {
  display: flex;
}

.footer-top-right-side-wrapper p {
  margin: 0;
  padding: 0;
}

.footer-middle  {
  /* min-height: 50px; */
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  /* min-height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  margin-left: 500px;
}

.footer-logo {
  fill: #ffc600;
}

.footer-logo[href]:hover,
.footer-logo[href]:focus {
  fill-opacity: 0.6;
}

.footer-logo[href]:active {
  fill-opacity: 0.3;
}

.main-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-login a:hover,
.footer-logout a:hover,
.footer-profile a:hover,
.main-footer .compare-button:hover,
.main-footer .cart-button:hover,
.footer-login a:focus,
.footer-logout a:focus,
.footer-profile a:focus,
.main-footer .compare-button:focus,
.main-footer .cart-button:focus {
  color: #fff;
}

.footer-login a:active,
.footer-logout a:active,
.footer-profile a:active,
.main-footer .compare-button:active,
.main-footer .cart-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.contact-info {
  text-align: center;
  vertical-align: middle;
}

.footer-nav {
  list-style: none;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

.footer-nav a {
  color: #fff;
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social ul {
  list-style: none;
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;

}

.footer-social a {
  color: #7e7e7e;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  fill-opacity: 0.6;
}

.footer-copyright a:active {
  fill-opacity: 0.3;
}

.modal {
  color: #000000;
  background-color: #fff;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.writeus input,
.writeus textarea {
  font-family: "Open Sans" , Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.writeus input::placeholder,
.writeus textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.writeus input:hover,
.writeus textarea:hover {
  background-color: #eaeaea;
}

.writeus input:focus,
.writeus textarea:focus {
  border: 3px solid #f7e296;
  background-color: #fff;
  outline: none;
}

.writeus input:invalid {
  background-color: #f6dada;
  border: none;
}
